---
import { DeveloperIcon } from '@/components/icon/icons'
import { Badged } from './badged'
import { Icons } from './icon'
import Role from './role.astro'
---

<article
  class='flex flex-col h-fit w-full rounded-2xl bg-[#232428] gap-2 text-white'
  aria-label='Discord Card'
>
  <span class='w-full h-[5em] bg-blue-600 rounded-t-2xl'></span>
  <header
    class='flex flex-col relative justify-center items-center z-10 w-24 h-24 -mt-14 left-4 rounded-full bg-[#232428]'
  >
    <img
      src='/me.jpg'
      class='w-[85%] h-[85%] rounded-full bg-blue-400'
      width={100}
      height={100}
      alt='Image of Angel Gabriel Lopez'
      aria-label='Image of Angel Gabriel Lopez'
    />
  </header>
  <div class='flex flex-col pb-4 px-5 gap-3 -mt-12'>
    <section class='flex justify-end mb-2'>
      <span></span>
      <div class='flex rounded-lg bg-black p-1'>
        <Badged client:visible />
      </div>
    </section>
    <main
      class='flex flex-col gap-2 bg-black rounded-lg p-3 divide-y-2 divide-[#2e2f34]'
    >
      <section class='flex flex-col h-full'>
        <span class='text-base font-bold'>{'<ImRLopezAg />'}</span>
        <span class='text-sm font-bold'>@imrlopez</span>
      </section>
      <section class='flex flex-col h-full max-[420px]:gap-2 gap-4'>
        <div class='[&>span]: flex flex-col min-[420px]:hidden'>
          <span class='text-sm font-bold my-1'>ABOUT ME</span>
          <p class='text-lg'>
            <span class='text-blue-500'>Software Engineer</span> and{' '}
            <span class='text-blue-500'>polyglot developer</span> with +2 years
            of personal projects,{' '}
            <span class='text-blue-500'>building applications</span> and
            automating the boring stuff.
          </p>
        </div>
        <div class='[&>span]: flex flex-col'>
          <span class='text-sm font-bold my-1'>CONTACT</span>
          <div class='flex flex-row gap-2'>
            <Icons client:visible />
          </div>
        </div>
        <div class='flex flex-col'>
          <span class='text-sm font-bold my-1'>DEVELOPER SINCE</span>
          <div class='flex flex-row gap-2 items-center'>
            <div class='flex flex-row'>
              <DeveloperIcon className='h-5 w-5' />
              <span class='text-x ml-1 text-sm'>Jan 24, 2021</span>
            </div>
            <span class='h-1 w-1 bg-gray-300 rounded-2xl'></span>
            <div class='flex flex-row'>
              <img
                src='/midu.webp'
                class='w-5 h-5 rounded-full'
                alt='Icon of midudev'
                width={20}
                height={20}
                aria-label='Icon of midudev'
              />
              <span class='text-x ml-1 text-sm'>Sep 5, 2022</span>
            </div>
          </div>
        </div>
        <div class='flex flex-col my-1'>
          <span class='text-sm font-bold my-1'>ROLES</span>
          <div class='flex flex-wrap gap-2'>
            <Role name='Design Patterns' color='bg-green-500' />
            <Role name='Algorithms' color='bg-blue-500' />
            <Role name='OOP' color='bg-red-600' />
            <Role name='Solid' color='bg-yellow-500' />
            <Role name='Clean Code' color='bg-purple-500' />
            <Role name='MERN' color='bg-blue-400' />
            <Role name='Team Player' color='bg-pink-500' />
          </div>
        </div>
      </section>
    </main>
  </div>
</article>
