---
import { ModeToggle } from '@ui/mode-toggle';
import { Menu, X } from 'lucide-react';
import Logo from '@components/logo.astro';
import { Link } from '@components/ui/link';
const navLinks = [
  { href: '/#home', label: 'Home' },
  { href: '/#about', label: 'About' },
  { href: '/#experience', label: 'Experience' },
  { href: '/#skills', label: 'Skills' },
  { href: '/#projects', label: 'Projects' },
  { href: '/blog', label: 'Blog' },
  { href: '/#contact', label: 'Contact' },
];
---

<header
  landing-header
  class='fixed top-0 right-0 left-0 z-50 py-4 transition-all duration-300 bg-background'
>
  <div class='container mx-auto flex items-center justify-between px-4'>
    <a
      href='/'
      class='bg-gradient-to-r from-primary to-purple-600 bg-clip-text font-bold text-transparent text-xl'
    >
      <Logo class='h-6 text-foreground' />
    </a>

    <div class='group'>
      <div class='flex items-center gap-2 md:hidden'>
        <ModeToggle client:visible />
        <input type='checkbox' id='menu-toggle' class='hidden' />
        <label
          for='menu-toggle'
          aria-label='Menu'
          class='variant-ghost size-icon cursor-pointer'
        >
          <span
            class='block group-has-[:checked]:hidden transition-opacity duration-300'
          >
            <Menu className='size-5' />
          </span>
          <span
            class='hidden group-has-[:checked]:block transition-opacity duration-300'
          >
            <X className='size-5' />
          </span>
        </label>
      </div>

      {/* Mobile Dropdown Menu */}
      <div
        class='fixed inset-0 top-16 z-40 bg-background p-4 hidden group-has-[:checked]:block'
      >
        <nav class='flex flex-col gap-4' aria-label='Main Navigation' mobile-nav>
          {
            navLinks.map((link) => (
              <a
                href={link.href}
                class='border-border border-b py-2 font-medium text-lg transition-colors hover:text-primary'
                onclick="document.getElementById('menu-toggle').checked = false"
              >
                {link.label}
              </a>
            ))
          }
        </nav>
      </div>
    </div>

    {/* Desktop Navbar */}
    <div class='hidden items-center gap-6 md:flex'>
      <nav class='flex items-center gap-6' desktop-nav aria-label='Main Navigation'>
        {
          navLinks.map((link) => (
            <Link
              href={link.href}
              variant='link'
              size='sm'
              className='text-sm transition-colors text-foreground p-2 font-black hover:text-primary'
            >
              {link.label}
            </Link>
          ))
        }
      </nav>
      <ModeToggle client:visible />
    </div>
  </div>
</header>
