---
import Section from '@ui/section.astro'
import { projects } from '@shared/cv.json'
import ProjectCard from '@ui/project-card.astro'
---

<Section title='Projects' className='relative'>
  <div
    class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3'
    id='projects-wrap'
  >
    {
      projects.map((item) => (
        <div
          data-card={item.name}
          class:list={[
            'relative group block p-2 h-full w-full hover:backdrop-blur-lg hover:backdrop-filter  rounded-2xl',
            (item.url || item.github) && 'hover:bg-blue-400/40',
            !(item.url || item.github) && 'hover:bg-zinc-900/40'
          ]}
        >
          <ProjectCard {...item} />
        </div>
      ))
    }
  </div>
</Section>
