---
import { Button } from '@/components/ui/button';
import { SectionTitle } from '@components/sections/section-title';
import { AnimatedSection } from './section';
import ProjectCard from '@components/project-card.astro';
import { projects } from '@shared/cv';

const MATRIX =
  'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ123456789@#$%^&*()*&^%+-/~{[|`]}';

const FONT_SIZE = 10;
---

<AnimatedSection id='projects'>
  <SectionTitle
    title='Featured Projects'
    desc='A selection of my recent work and personal projects.'
  />

  <div class='grid grid-cols-2 gap-3 lg:grid-cols-3'>
    {
      projects
        .filter((project) => project.img)
        .map((project) => <ProjectCard project={project} />)
    }
  </div>

  <div class='text-center'>
    <Button asChild variant='outline'>
      <a href='/projects'>View All Projects</a>
    </Button>
  </div>

</AnimatedSection>
<script is:inline>
  (function () {
    const MATRIX =
      'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ123456789@#$%^&*()*&^%+-/~{[|`]}';

    const FONT_SIZE = 10;
    const $allCanvas = document.querySelectorAll(
      '[data-project-card] canvas'
    );

    $allCanvas.forEach(($canvas) => {
      const $canvasCTX = $canvas.getContext('2d');

      $canvas.height = window.innerHeight;
      $canvas.width = window.innerWidth;

      const columns = $canvas.width / FONT_SIZE;
      const drops = [];

      for (let x = 0; x < columns; x++) drops[x] = 1;

      function draw() {
        if (!$canvasCTX) return;
        $canvasCTX.fillStyle = 'rgba(0, 0, 0, 0.04)';
        $canvasCTX.fillRect(0, 0, $canvas.width, $canvas.height);
        $canvasCTX.fillStyle = '#22b455';
        $canvasCTX.font = FONT_SIZE + 'px arial';
        for (let i = 0; i < drops.length; i++) {
          const text = MATRIX[Math.floor(Math.random() * MATRIX.length)];
          $canvasCTX.fillText(text, i * FONT_SIZE, drops[i] * FONT_SIZE);

          if (drops[i] * FONT_SIZE > $canvas.height && Math.random() > 0.975)
            drops[i] = 0;

          drops[i]++;
        }

        requestAnimationFrame(draw);
      }

      requestAnimationFrame(draw);
    });
  })();
</script>