---
interface Props {
  title: string;
  desc?: string;
}
const { title, desc } = Astro.props;
---

<div class='space-y-4 text-center'>
  <h2 class='font-bold text-3xl tracking-tight sm:text-4xl'>{title}</h2>
  <div class='mx-auto h-1 w-20 rounded-full bg-primary'></div>
  {desc && <p class='mx-auto max-w-2xl text-muted-foreground'>{desc}</p>}
</div>
