---
import Section from '@ui/section.astro';
import HTML from '@components/icons/html.astro';
import CSS from '@components/icons/css.astro';
import JavaScript from '@components/icons/javascript.astro';
import TypeScript from '@components/icons/type.astro';
import React from '@components/icons/react.astro';
import Node from '@components/icons/node.astro';
import SQL from '@components/icons/sql.astro';
import Git from '@components/icons/git.astro';
import GitHub from '@components/icons/GitHub.astro';
import Tailwind from '@components/icons/tailwind.astro';
import Next from '@components/icons/next.astro';
import Flutter from '@components/icons/flutter.astro';
import GraphQL from '@components/icons/graphql.astro';
import Dart from '@components/icons/dart.astro';
import DotNet from '@components/icons/dotnet.astro';
import CSharp from '@components/icons/c-sharp.astro';
import Docker from '@components/icons/docker.astro';
import Cypress from '@components/icons/cypress.astro';

import { skills } from '@shared/cv.json';
---

<Section title='Skills'>
  <ul class='inline-flex gap-3 flex-wrap'>
    {
      skills.map(({ name }) => (
        <li class='flex items-center gap-1 bg-zinc-300 rounded-md text-black font-medium text-sm px-2 min-w-fit h-fit align-baseline justify-center hover:bg-zinc-900 hover:text-white'>
          {
            {
              HTML: <HTML />,
              CSS: <CSS />,
              JavaScript: <JavaScript />,
              TypeScript: <TypeScript />,
              React: <React />,
              Node: <Node />,
              SQL: <SQL />,
              Git: <Git />,
              GitHub: <GitHub />,
              Tailwind: <Tailwind />,
              'Next.js': <Next />,
              Flutter: <Flutter />,
              GraphQL: <GraphQL />,
              Dart: <Dart />,
              DotNet: <DotNet />,
              CSharp: <CSharp />,
              Docker: <Docker />,
              Cypress: <Cypress />
            }[name]
          }
          <span>{name}</span>
        </li>
      ))
    }

  </ul>
</Section>
<style>
  svg {
    width: 10.5rem;
    height: 10.5rem;
  }
</style>
