---
import AtorposWrapper from '@/components/page/components/atropos-wrapper.astro'
import DiscordCard from '@/components/page/components/discord.astro'
import Layout from '../layouts/Layout.astro'
import { ProfileTab } from '@/components/page/components/profile-tab'
import Project from '@/components/page/project.astro'
---

<Layout title='ImRLopezAg'>
  <aritcle id='Home' class='flex flex-col gap-4'>
    <AtorposWrapper>
      <DiscordCard />
    </AtorposWrapper>
    <section class='flex flex-col'>
      <ProfileTab client:visible />
    </section>
  </aritcle>
  <aritcle id='Projects'>
    <Project />
  </aritcle>
</Layout>
