---
import Layout from '@layouts/Layout.astro';

import About from '@components/sections/about.astro';
import Education from '@components/sections/education.astro';
import Experience from '@components/sections/experience.astro';
import Hero from '@components/sections/hero.astro';
import Projects from '@components/sections/projects.astro';
import Skills from '@components/sections/skills.astro';
import KeyboardManager from '@components/ui/keyboard-manager.astro';

import { basics } from '@shared/cv.json';
const { name } = basics;
---

<Layout title={`${name}'s Portfolio`}>
  <main class='container mx-auto px-4 py-5 my-5'>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
  <KeyboardManager />
</Layout>
