---
import Atorpos from './components/atropos-wrapper.astro';
import  DiscordCard  from './components/discord.astro'
import  { ProfileTab }  from './components/profile-tab'
---

<section
  class='flex sm gap-5 items-start min-[420px]:mt-4 [&>section]:flex-col [&>section>h2]:font-bold [&>section>h2]:my-4 [&>section]:max-sm:w-full '
>
  <section class='w-1/2 flex max-sm:hidden'>
    <h2 class='text-3xl type-blinking'>Angel <span class='text-blue-500'>Gabriel</span> Lopez
    </h2>
    <p class='text-lg'>
      <span class='text-blue-500'>Software Engineer</span> and{' '}
      <span class='text-blue-500'>polyglot developer</span> with +2 years of
      personal projects,{' '}
      <span class='text-blue-500'>building applications</span> and
      automating the boring stuff.
    </p>
    <p class='text-lg my-4 max-sm:hidden'>
      I have experience with{' '}
      <span class='text-blue-500'>a wide range of technologies</span>, from <span
        class='text-blue-500'>Back-end</span
      > to{' '}
      <span class='text-blue-500'>Front-end</span> and looking forward to
      learn more.
    </p>
    <section class='flex flex-col '>
      <ProfileTab client:visible/>
    </section>
  </section>
  <section class='w-1/2 flex h-full px-8'>
    <Atorpos>
      <DiscordCard />
    </Atorpos>
  </section>
</section>
