---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<div
  class:list={[
    'rounded-2xl h-full w-full p-4 overflow-hidden relative z-20 bg-white border border-neutral-100 dark:border-zinc-900 shadow-lg',
    className,
  ]}
>
  <div class='relative z-50'>
    <div class='p-1'>
      <slot />
    </div>
  </div>
</div>
